# list

## 순서가 있는 자료의 집합(collection)

In [1]:

integer_list = [1,2,3]

In [2]:
heterogeneous_list = ["string", 0.1, True]

In [3]:
list_of_lists = [integer_list, heterogeneous_list, []]

In [4]:
len(integer_list)

3

In [5]:
sum(integer_list)

6

In [6]:
x = range(10)

In [8]:
# 대괄호를 사용해 리스트의 n 번째 값 불러오기
zero = x[0]
zero

0

In [9]:
one = x[1]

In [10]:
nine = x[-1]

In [11]:
eight = x[-2]

In [14]:
x[0] = -1

In [15]:
x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# 대괄호 사용하여 리스트 나누기
first_three = x[:3]
first_three

[-1, 1, 2]

In [19]:
three_to_end = x[3:]
three_to_end

[3, 4, 5, 6, 7, 8, 9]

In [20]:
one_to_four = x[1:5]

In [21]:
last_three = x[-3:]

In [23]:
without_first_and_last = x[1:-1]
without_first_and_last

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
copy_of_x = x[:]
copy_of_x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# 리스트 안의 존재여부
1 in [1,2,3]

True

In [27]:
0 in [1,2,3]

False

In [28]:
# 리스트 더하기
x = [1,2,3]

In [29]:
x.extend([4,5,6])

In [30]:
x

[1, 2, 3, 4, 5, 6]

In [32]:
x = [1,2,3]
y = x + [4,5,6]
y

[1, 2, 3, 4, 5, 6]

In [33]:
x = [1,2,3]
x.append(0)
y = x[-1]
z = len(x)

In [34]:
y

0

In [36]:
x

[1, 2, 3, 0]

In [35]:
z

4

In [37]:
# 리스트 unpack
x, y = [1,2]

In [38]:
x

1

In [39]:
y

2

In [40]:
_, y = [1,2]

In [41]:
y

2

In [42]:
x

1

# tuple

## 변경할 수 없는 리스트

In [43]:
my_list = [1,2]
my_tuple = (1,2)
other_tuple = 3,4
my_list[1] = 3

In [44]:
try:
    my_tuple[1] = 3
except TypeError:
    print "cannot modify a tuple"

cannot modify a tuple

In [45]:
# 함수에서 여러값을 반환할때 tuple 사용용이

def sum_and_product(x,y):
    return (x+y), (x* y)

sp = sum_and_product(2,3)

s, p = sum_and_product(5, 10)

In [46]:
sp

(5, 6)

In [47]:
s

15

In [48]:
p

50

In [52]:
# tuple과 list 는 다중할당을 지원함

x, y = 1,2
x, y = y, x

In [53]:
x

2

In [54]:
y

1

# dict

## 특정 값 (value)와 연관된 key를 연결해 주고 이를 사용해 value를 빠르게 검색할 수 있음

In [55]:
empty_dict = {}

In [56]:
empty_dict2 = dict()

In [57]:
grades = {"Joel" : 80, "Tim":95}

In [58]:
joels_grade = grades["Joel"]
joels_grade

80